{% extends "nguoidung/base.html" %}

{% block content%}
<section id="about" class="about mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{{flower.image.url}}" width="100%" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 about-description">
                <h3>Why choose us?</h3>
                <h1>{{flower.name}}</h1>
                <p>{{flower.description}}</p>
                <div class="price" style="font-size: 16px;">
                    <strong>Giá: </strong> <span>{{flower.price}}</span>
                </div>
                <div class="number" style="font-size: 16px;">
                    <strong>Số lượng: </strong> <span>{{flower.number}}</span>
                </div>
                <button style="padding: 10px 20px; font-size: 16px; margin: 5px 0;">Thêm vào giỏ</button>
                <div class="icons">
                    <div class="icon">
                        <i class="fa-solid fa-leaf"></i>
                        <span>Good Quality</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-truck"></i>
                        <span>Free Delivery</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-headphones"></i>
                        <span>24/7 Service</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-recycle"></i>
                        <span>Easy Recycle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}