{% extends "pages/base.html" %}

{% block style %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .MuiBox_root {
        height: 100%;
    }

    .MuiBoxMenu {
        background-color: #202d3f;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        min-height: 100vh;
        max-height: 100vh;
    }

    .menuTopLogo {
        height: 80px;
    }

    .logo--full {
        width: 160px;
        padding: 20px 15px 0;
    }

    .menuTopToogle {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        padding: 8px;
    }

    .MuiIconButton-root {
        background-color: transparent;
        text-align: center;
        border: 0;
        cursor: pointer;
    }

    .menuDivider {
        border-top: 2px solid #15202c;
        border-bottom: 2px solid #263d53;
        border: 0;
        margin: 0;
    }

    .menuInnerWrapper {
        height: calc(100% - 60px);
        position: relative;
    }

    .menuPrimaryInner {
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    nav .menuList {
        fill: #cad6e2;
        color: #cad6e2;
        padding: 0;
    }

    .rootMenuItem {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        position: relative;
        padding: 0;
        height: 60px;
        display: flex;
    }

    .rootMenuItem:hover {
        background-color: #2a3a51;
        fill: #fff;
        color: #fff;
    }

    .rootMenuItem_color {
        color: #cad6e2;
        text-decoration: none;
    }

    .rootMenuItem .ListItemIcon-root {
        color: #cad6e2;
        min-width: unset;
    }

    .MuiSvgIcon-root {
        fill: #cad6e2;
        width: 24px;
        height: auto;
        max-height: 30px;
        margin: -2px 14px 0 17px;
    }

    .ListItemTitle {
        width: 155px;
        margin-top: 5px;
    }

    .rootMenuItem.active {
        background-color: #2a3a51;
        fill: #fff;
        color: #fff;
    }

    .MuiIconItem-root {
        fill: #cad6e2;
        width: 24px;
        font-size: 20px;
        height: auto;
        max-height: 30px;
        margin: -2px 14px 0 17px;
    }

    /**************************/
    .MuiBoxBody {
        width: calc(100% - 250px);
        margin-left: 250px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        background-color: #f0f1f1;
        min-height: 100vh;
    }

    .MuiBoxHeaderTop {
        display: flex;
        top: 0;
        height: 56px;
        z-index: 1001;
        box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;
        position: sticky;
        background: #fff;
    }

    .MuiTypography-h3 {
        font-size: 1.6rem;
    }


    .MuiBoxHeaderInfo {
        height: inherit;
        display: flex;
        align-items: center;
    }

    .MuiBoxItem {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 2px 13px 0;
        height: 100%;
    }

    .MuiBoxItem:hover {
        background: #F2F9FF;
    }

    .MuiBoxItem svg {
        margin: -2px 14px 0 0px;
    }

    .MuiBoxText {
        font-size: 18px;
        color: #0f1824;
        margin: 0;
    }

    .avatar-acount {
        width: 45px;
        height: 35px;
        border-radius: 220px;
        display: inline-block;
        vertical-align: middle;
    }

    .avatar-text {
        width: 35px;
        height: 35px;
        text-align: center;
        color: aliceblue;
        border-radius: 20px;
        background-color: #63b4f6;
        line-height: inherit;
    }

    .avatar-item {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        font-size: 13px;
    }

    .avatar-span {
        display: table-cell;
        vertical-align: middle;
    }

    .MuiBoxItem.active {
        background: #F2F9FF;
    }

    /******************/
    .MuiBoxItemBody {
        margin: 32px 32px 96px;
        display: flex;
        width: 90%;
        
        padding: 15px 15px;
        border-radius: 6px;
        background: #fff;
    }


    .MuiBoxItem_Left {
        width: 83.3333%;
    }

    .MuiBoxStudent {
    }

    .MuiBox {
        display: flex;
        justify-content: right;
    }

    .MuiGrid-root {
        width: 25%;
        margin: 0 20px 0 0;
        border-radius: 10px;
    }

    .MuiGrid_green {
        background-color: #31d797;
    }

    .MuiGrid_red {
        background-color: #ff4e4f;
    }

    .MuiGrid_blue {
        background-color: #269aff;
    }

    .MuiGrid_yellow {
        background-color: #ffb10e;
    }

    .MuiGrid_link {
        text-decoration: none;
    }

    .MuiGrid-Box {
        margin: 15px;
        padding: 6px 0 10px;
    }

    .MuiGrid_number {
        color: #ffffff;
        font-size: 35px;
        margin: 0;
    }

    .MuiGrid_text {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;

    }

    .group {
        margin: 0 200px;
        padding: 0;
    }

    .group-detail {
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
    }

    .bg-bisque {
        background-color: bisque;
    }

    .text {
        font-size: 18px;
        font-weight: 600;
        padding: 8px 0;
    }

    .form-group {
        padding: 3px 8px;
        border: 1px solid rgb(66, 66, 66);
        border-radius: 6px;
    }

    .form-group:focus {
        outline: 0;
    }

    .text_gender {
        font-size: 18px;
        font-weight: 600;
    }

    .table {
        margin: 15px 0;
    }

    .txtBtn {
        display: flex;
        justify-content: end;
    }

    .txtSubmit {
        padding: 3px 15px;
        background-color: rgb(244, 35, 35);
        border: none;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 500;
        color: rgb(255, 255, 255);
        border-radius: 6px;
    }

    button[disabled] {
        background-color: #b5b5b5;
    }

    .txtReset {
        padding: 3px 15px;
        background-color: rgb(117, 165, 253);
        border: none;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 500;
        color: rgb(255, 255, 255);
        border-radius: 6px;
    }

    .name_bug,
    .email_bug,
    .phone_bug,
    .pass_bug {
        color: red;
        display: none;
    }

    .demo-btn {
        justify-content: end;
        text-align: end;
    }

    .btn {
        padding: 5px 10px;
        border: 0;
    }

    .btn:hover {
        color: #fff;
    }

    .btn:focus {
        outline: 0;
        color: #fff;
        box-shadow: none;
    }

    .btnCreate {
        background: #23af2c;
        color: #fff;
        font-weight: 600;
    }

    .btnExcel {
        background: #d1c823;
        color: #fff;
        font-weight: 600;
    }

    .btnDelete {
        background: #eb4146;
        color: #fff;
    }

    .btnRevision {
        background: #eb8841;
        color: #fff;
    }

    .btnMore {
        background: #4185eb;
        color: #fff;
    }

    .txtOK {
        background-color: #3a84f4;
        color: #fff;
    }

    .detail-label {
        font-weight: 400;
        font-size: 18px;
    }

    .detail_text {
        font-size: 18px;
        padding: 5px;
        font-weight: 600;
    }

    .detail-item {
        padding: 13px 0;
    }

    .come_back-link {
        text-decoration: none;
    }

    .come_back {
        font-weight: 600;
        font-size: 18px;

    }

    .search {
        margin: 5px 0;
    }

    .search_input {
        width: 220px;
        padding: 2px 4px 6px 8px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: 1px solid #4185eb;
    }

    .search_input:focus {
        outline: 0;

    }

    .btnSearch {
        margin-left: -5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .btnSearch:focus {
        box-shadow: none;
        outline: 0;
    }

    /*Trang login*/
    /* .frmLogin {
    background-color: bisque;
} */

    .login-form {
        margin: 200px 0;
    }

    .header-text {
        text-align: center;
        padding: 20px 0;
        color: aliceblue;
    }

    .frm-group {
        margin: 0 80px;
        padding: 0px 0 50px;
    }

    .text_name {
        color: aliceblue;
        font-size: 20px;
    }

    .text_input {
        padding: 7px 8px;
        border: 0;
        border-radius: 6px;
        background-color: 0;
        border: 0;
        background: none;
        color: aliceblue;
    }

    .text_input::placeholder {
        color: aliceblue;

    }

    .text_input:focus {
        outline: 0;

    }

    .line {
        color: white;
        background-color: white;
        opacity: .5;
    }

    .group-mini {
        margin: 15px 0;
    }

    .text_forget {
        text-align: right;
    }

    .remember[type=checkbox] {
        width: 15px;
        height: 15px;
    }

    .text_remember {
        color: aliceblue;
    }

    .forget-link {
        text-decoration: none;
    }

    .button {
        border: 0;
        margin: 15px 0;
        padding: 8px 0;
        font-size: 19px;
    }

    .btnlogin {
        background-color: rgb(254, 93, 93);
        color: aliceblue;
    }

    .btnregister {
        background-color: #3a84f4;
        color: aliceblue;
    }

    .login_register {
        background-image: url('https://p.w3layouts.com/demos/aug-2016/19-08-2016/classy_login_form/web/images/banner1.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .login {
        --bs-gutter-x: 0;
        display: none;
    }

    /*register*/
    .register {
        --bs-gutter-x: 0;
        display: none;
    }

    .register-form {
        margin: 50px 0;
    }


    .register__male,
    .register__female {
        margin: 0px 5px;
    }

    .register-block {
        display: flex;
    }

    #detail {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(232, 232, 232, 0.3);
        z-index: 100;
        display: none;
    }

    .detail-item {
        width: 550px;
        height: auto;
        background-color: rgb(255, 255, 255);
        z-index: 1000;
        margin: auto;
        margin-top: 10px;
        padding: 5px;
        box-shadow: 2px 2px 2px 2px rgba(227, 227, 227, 0.8);
    }

    .group-detail {
        margin: 0 20px;
    }

    .group-item {
        padding: 10px 0;
    }

    #id_password, #id_username {
        width: 50%;
        padding: 5px;
    }

    .MuiBoxProductNew {
    }

    .MuiBoxProductNew form {
        padding: 15px 0;
        margin: auto;
        width: 50%;
    }

    .MuiBoxProductNew p {
        display: flex;
    }
    .MuiBoxProductNew p label {
        text-align: start;
        width: 30%;
        padding: 0 10px;
    }

    .MuiBoxProductNew input {
        width: 65%;
    }
</style>
{% endblock %}


{% block body %}
<div id="root">
    <div class="MuiBox_root">
        <div class="MuiBoxMenu">
            <nav>
                <div class="menuTopHeader">
                    <div class="menuTopLogo">
                        <a href="">
                            <img src="/asset/img/logo-teky.png" alt="" class="logo--full">
                        </a>
                        <button class="menuTopToogle MuiIconButton-root">
                            <span>
                                <img src="/asset/img/menu-toggle.svg" alt="" class="icon_mini">
                            </span>
                        </button>
                    </div>
                </div>
                <hr class="menuDivider">
                <div class="menuInnerWrapper">
                    <div class="menuPrimaryInner" id="menuPrimaryInner">
                        <nav class="menuList">
                            <a href="/myhome/home" class="rootMenuItem rootMenuItem_color active">
                                <div class="ListItemIcon-root">
                                    <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 486.196 486.196"
                                        aria-hidden="true">
                                        <path
                                            d="M481.708 220.456l-228.8-204.6c-.4-.4-.8-.7-1.3-1-5-4.8-13-5-18.3-.3l-228.8 204.6c-5.6 5-6 13.5-1.1 19.1 2.7 3 6.4 4.5 10.1 4.5 3.2 0 6.4-1.1 9-3.4l41.2-36.9v238.6c0 18.7 15.2 34 34 34H169.908c17.6 0 31.9-14.3 31.9-31.9v-121.3c0-2.7 2.2-4.9 4.9-4.9h72.9c2.7 0 4.9 2.2 4.9 4.9v121.3c0 17.6 14.3 31.9 31.9 31.9h72.2c19 0 34-18.7 34-42.6v-228.7l41.2 36.9c2.6 2.3 5.8 3.4 9 3.4 3.7 0 7.4-1.5 10.1-4.5 4.8-5.6 4.3-14.1-1.2-19.1zm-86.2 66.7v145.1c0 9.7-4.8 15.6-7 15.6h-72.2c-2.7 0-4.9-2.2-4.9-4.9v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6 0-31.9 14.3-31.9 31.9v121.3c0 2.7-2.2 4.9-4.9 4.9H97.608c-3.8 0-7-3.1-7-7v-262.8l151.8-135.6 153.1 136.9v107.6z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="ListItemTitle">
                                    <div class="ListItemText">
                                        Quản Lý
                                    </div>
                                </div>
                            </a>
                            <a href="/myhome/home_page" class="rootMenuItem rootMenuItem_color ">
                                <div class="ListItemIcon-root">
                                    <i class="far fa-angry MuiIconItem-root"></i>
                                </div>
                                <div class="ListItemTitle">
                                    <div class="ListItemText">
                                        Người Dùng
                                    </div>
                                </div>
                            </a>
                            
                        </nav>
                    </div>

                </div>
            </nav>
        </div>
        <div class="MuiBoxBody">
            <div class="MuiBoxHeaderTop" id="header">
                <h3 class="MuiTypography-h3">{% block title %}{% endblock %}</h3>
                <div class="MuiBoxHeaderInfo">
                    <div class="MuiBoxItem active">
                        <svg class="MuiSvgIcon-root jss412" focusable="false" viewBox="0 0 20 20" color="#A2A8AF"
                            aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.99992 0.833374C4.93992 0.833374 0.833252 4.94004 0.833252 10C0.833252 15.06 4.93992 19.1667 9.99992 19.1667C15.0599 19.1667 19.1666 15.06 19.1666 10C19.1666 4.94004 15.0599 0.833374 9.99992 0.833374ZM9.08325 16.4167V14.5834H10.9166V16.4167H9.08325ZM11.9891 10.1559L12.8141 9.31254C13.3366 8.79004 13.6666 8.05671 13.6666 7.25004C13.6666 5.22421 12.0258 3.58337 9.99992 3.58337C7.97409 3.58337 6.33325 5.22421 6.33325 7.25004H8.16659C8.16659 6.24171 8.99158 5.41671 9.99992 5.41671C11.0083 5.41671 11.8333 6.24171 11.8333 7.25004C11.8333 7.75421 11.6316 8.21254 11.2924 8.54254L10.1558 9.69754C9.49575 10.3667 9.08325 11.2834 9.08325 12.2917V12.75H10.9166C10.9166 11.375 11.3291 10.825 11.9891 10.1559Z"
                                fill="currentColor"></path>
                        </svg>
                        <p class="MuiBoxText">Trợ Giúp</p>
                    </div>
                    <div class="MuiBoxItem">
                        <svg class="MuiSvgIcon-root jss412" focusable="false" viewBox="0 0 16 14" color="#A2A8AF"
                            aria-hidden="true">
                            <path
                                d="M8 14C5.10929 11.4904 0 8.36868 0 4.19619C0 1.84632 1.936 0 4.4 0C5.792 0 7.128 0.578989 8 1.55556C8.872 0.578989 10.208 0 11.6 0C14.064 0 16 1.84632 16 4.19619C16 8.36185 10.8971 11.5039 8 14Z"
                                fill="currentColor"></path>
                        </svg>
                        <p class="MuiBoxText">Góp ý</p>
                    </div>
                    <div class="MuiBoxItem">
                        <div class="avatar-acount">
                            <div class="avatar-text">
                                <div class="avatar-item">
                                    <span class="avatar-span">
                                        M
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="MuiBoxText MuiBoxTextName">
                            {% if user.is_authenticated %}
                            {{ user.username }}!
                            <a href="{% url 'logout' %}">Log Out</a>
                            {% else %}
                            <a href="{% url 'login' %}">Log In</a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="MuiBoxItem">
                        <i class="fas fa-bell" style="color: #5f9ff8; font-size: 25px;"></i>
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}

        </div>
    </div>
</div>


{% endblock %}